<div>
  Country
  <select [(ngModel)]="country" (change)="onchange()">
    <option value="us">USA</option>
    <option value="uk">UK</option>
    <option value="it">Italy</option>
  </select>
</div>
<div>
  <table *ngIf="playlist && playlist.length">
    <thead>
      <tr>
        <td>Name</td>
        <td>Album</td>
        <td>Artist</td>
        <td>Rating</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of playlist | paginate: config">
        <td>{{ track.track.track_name }}</td>
        <td>{{ track.track.album_name }}</td>
        <td>{{ track.track.artist_name }}</td>
        <td>{{ track.track.track_rating }}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
